.header__lang-link {
    padding-left: 18px;
    transition: opacity 0.5s linear 0s;
    
}

.header__lang-link:hover {
  opacity: 0.4;
}

.header__lang-link_active {
    text-decoration: underline;
}