.photo-grid__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 16px;
    list-style-type: none;
    padding-left: 0;
}

@media screen and (max-width: 1184px) {
    .photo-grid__list {
        gap: 14px;
    
    }
}
