.intro__text {
    max-width: 69%;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    color: #FFFFFF;
    margin-bottom: 24px;
}



@media screen and (max-width: 1110px) {
    .intro__text {
        max-width: 80%;
    }
}

@media screen and (max-width: 1023px ) {
    .intro__main-text {
        max-width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .intro__text {
        font-size: 16px;
    }
}