.footer {
    max-width: 1184px;
    margin: 0 auto;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1023px) {
    .footer {
       padding-left: 46px;
       padding-right: 46px;
    }

}

@media screen and (max-width: 767px) {
    .footer {
       padding-left: 24px;
       padding-right: 24px;
    }

}

@media screen and (max-width: 440px) {
    .footer {
       padding-left: 16px;
       display: flex;
       flex-direction: column;
    }

}
